<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %blue(%d{yyyy-MM-dd HH:mm:ss}) %yellow([%-16thread]) %highlight(%-5level) %-50boldRed(%logger{26}:%method - %line) - %msg %n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
